.oldPost {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    color: red;
    border: 1px solid;
    padding: 4px 12px 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    }

    span.oldtext  {
    padding-top: 0px;
    color: red;
    margin-left: 20px;
    }